packages:
  yum:
    git: []

#container_commands:
#  01_htpasswd:
#    command: "/opt/python/ondeck/app/"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumProcesses
    value: 2
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumThreads
    value: 5


